<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SSPART Suit">
  <test thread-count="5" name="SSPART Test">
    <classes>
      <class name="testNGpackages.Testngclass1"/>
      <class name="testNGpackages.Testngclass2"/>
    </classes>
  </test> <!-- SSPART Test -->
</suite> <!-- SSPART Suit -->
